<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="./app.css?{{ timestamp }}" />

        <script src="./js/app.js?{{ timestamp }}"></script>
        <title>
            {% if title %}{{ title }} - {% endif %}{{ labels.project_title }}
        </title>
    </head>
    <body>
        <div class="clearfix">
            <div
                class="
                    col-sm-12 col-md-6 col-lg-4
                    float-right
                    p-4
                    color-shadow-large
                    rounded-2
                    overflow-hidden
                "
            >
                <div id="page-content">
                    {{ content }}

                    {% if tags %}
                    <div class="tags mb-3">
                        <h3 class="mb-3">Tags</h3>
                        {% for tag in tags %}
                        <span class="Label">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    {% endif %} {% if links %}
                    <h3 class="mb-3">{{ labels.see_also }}</h3>
                    <nav class="menu">
                        {% for link in links %}
                        <a
                            class="menu-item"
                            href="{{ link.type }}-{{ link.slug }}.html"
                            >{{ link.title }}</a
                        >
                        {% endfor %}
                    </nav>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8 float-left">
                <div id="graph-container" data-node="{{ node }}"></div>
            </div>
        </div>
    </body>
</html>
