<!DOCTYPE html>
<html lang="{{ config.language }}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="icon" type="image/svg+xml" href="./static/favicon.svg" />

        <link rel="stylesheet" href="./app.css?{{ timestamp }}" />

        <script src="./js/app.js?{{ timestamp }}"></script>
        <title>
            {% if title %}{{ title }} - {% endif %}{{
                config.labels.project_title
            }}
        </title>
    </head>
    <body>
        <ul class="search-results"></ul>

        <header>
            <a href="index.html">
                <h3>{{ config.labels.project_title }}</h3>
            </a>

            <input
                type="search"
                name="search"
                placeholder="{{ config.labels.search }}"
            />
        </header>

        <div class="row">
            <div class="column-1">
                <div class="content">{{ content }}</div>

                <div class="metadata">
                    {% if metadata %} {% for cat, data in metadata %}
                    <div class="tag-container">
                        <h3>
                            {% if config.metadata[cat].label %}
                            {{ config.metadata[cat].label }}
                            {% else %}
                            {{ cat }}
                            {% endif %}
                        </h3>
                        {% for item in data %}
                        <a href="{{ item.link }}" class="tag">{{
                            item.title
                        }}</a>
                        {% endfor %}
                    </div>
                    {% endfor %} {% endif %}
                </div>

                <div class="links">
                    {% if links %}
                    <h3>{{ config.labels.see_also }}</h3>
                    <ul>
                        {% for link in links %}
                        <li>
                            <a href="{{ link.cat }}-{{ link.slug }}.html">{{
                                link.title
                            }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="column-2">
                <div id="graph-container" data-node="{{ id }}"></div>
            </div>
        </div>
    </body>
</html>
