<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="./app.css?{{ timestamp }}" />

        <script src="./js/app.js?{{ timestamp }}"></script>
        <title>
            {% if title %}{{ title }} - {% endif %}{{ labels.project_title }}
        </title>
    </head>
    <body>
        <div class="row">
            <div class="column-2">
                <div id="graph-container" data-node="{{ node }}"></div>
            </div>
            <div class="column">
                <div id="page-content">
                    {{ content }}

                    {% if links %}
                    <div>
                        <h3>{{ labels.see_also }}</h3>

                        <ul>
                            {% for link in links %}
                            <li>
                                <a
                                    href="{{ link.type }}-{{ link.slug }}.html"
                                    >{{ link.title }}</a
                                >
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
