<!DOCTYPE html>
<html lang="{{ language }}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="icon" type="image/svg+xml" href="./static/favicon.svg" />

        <link rel="stylesheet" href="./app.css?{{ timestamp }}" />

        <script src="./js/app.js?{{ timestamp }}"></script>
        <title>
            {% if title %}{{ title }} - {% endif %}{{ labels.project_title }}
        </title>
    </head>
    <body>
        <ul class="search-results"></ul>

        <header>
            <a href="index.html">
                <h3>{{ labels.project_title }}</h3>
            </a>

            <input
                type="search"
                name="search"
                placeholder="{{ labels.search }}"
            />
        </header>

        <div class="row">
            <div class="column-1">
                <div class="content">{{ content }}</div>

                {% if tags %}
                <div class="tag-container">
                    <h3>Tags</h3>
                    {% for tag in tags %}
                    <span class="tag">{{ tag }}</span>
                    {% endfor %}
                </div>
                {% endif %} {% if links %}
                <h3>{{ labels.see_also }}</h3>
                <ul>
                    {% for link in links %}
                    <li>
                        <a href="{{ link.cat }}-{{ link.slug }}.html">{{
                            link.title
                        }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="column-2">
                <div id="graph-container" data-node="{{ node }}"></div>
            </div>
        </div>
    </body>
</html>
